{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}DL Fantasy | Mr. Dex{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="alternate" type="application/rss+xml" title="DL Fantasy — Latest" href="{% url 'feed' %}">
</head>

<body>
    <div class="progress-bar"></div>

    <!-- NAVBAR -->

    <nav class="navbar">

        <div class="logo">
            DL Fantasy
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}" class="nav-item">Home</a></li>
            <li class="nav-divider">/</li>
            <li><a href="{% url 'writings' %}" class="nav-item">Writings</a></li>
            <li class="nav-divider">/</li>
            <li><a href="{% url 'godvalley_list' %}" class="nav-item">The God Valley</a></li>
            <li class="nav-divider">/</li>
            <li><a href="{% url 'archive' %}" class="nav-item">Archive</a></li>
        </ul>

        <div class="nav-right-group">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q" placeholder="Search archive..." value="{{ request.GET.q }}">
            </form>

            <div id="clock">--:--:--</div>
        </div>

    </nav>

    <!-- PAGE CONTENT -->

    <main class="page-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->

    <footer>

        <p>
            “Morality should not remain rigid.
            It must evolve to reduce suffering
            while preserving meaning.”
        </p>

        <small>
            © 2026 DL Fantasy | Archive of Mr. Dex
        </small>

    </footer>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>

